@use '../../scss/config';
.logo-content {
  @include config.align-center();
  border: 1px solid config.$englishViolet;
  z-index: 4;
  width: 99%;
  margin: 0;
  div {
    width: 90%;
    height: 90%;
  }
}
.arrows {
  width: 20%;
  height: 20%;
  cursor: pointer;
}
