$maximumYellow : #FFFC31;
$englishViolet : #5C415D;
$ivory : #F6F7EB;
$cinnabar : #E94F37;
$onyx : #393E41;

@mixin align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin background-align{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


@mixin font-align{
  grid-column: 1/4;
  @include align-center();
  justify-content: space-around; * {
    cursor: pointer;
    &:hover {
      background-color: $maximumYellow;
    }
  }
}
