@use 'config';
.colors {
    grid-column: 1/4;
  
    grid-row: 7/7;
    @include config.align-center();
    span {
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin: 1%;
      padding: 2%;
      border-radius: 180px;
    }

    input[type=color]{
      -webkit-appearance: none;
      border: none;
      display: flex;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0);
      &::-webkit-color-swatch-wrapper {
        padding: 0;
        width: 50%;
      }
      &::-webkit-color-swatch {
        border-radius: 180px;
        height: 90%;
       
      }
    }
  }
  