@use "config";
/* make scrollbar transparent */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.fontType{
  @include config.align-center();
  justify-content: flex-start;
  grid-column: 1/4;
  padding: 1%;
  grid-row: 8/8;
  position: relative;
  justify-content: space-around;
}


.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: #fff;
  justify-self: center;
  position: relative;
}

.dropdown-content {
  position: absolute;
  left: 0;
  right: 0;
  ul {
    list-style: none;
    overflow-y: scroll;
    height: 20px;
    border: none;
    transition: .4s;
    &:hover{
      height: 60px;
    }
    li {
      border: 1px solid rgba(0, 0, 0, 0.199);
      border-bottom: none;
      background-color: #fff;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: config.$englishViolet;
      }
    }
  }
}
