@use "../scss/config";
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-width: 250px;
}
@media (max-width:680px) {
  .container{
    background-color: #000;
    grid-template-columns: 1fr 2fr;
  }
}